body{
    width: 900px;
    background-color: #ffffff;

}

.caja{
    width: 900px;
    margin-left: 220px;
    padding: 8px;
    border-style: groove;
    border-radius: 30px;
    border-width: 2px;
    border-color: #ccc;
    color: #000000;
}

#alineacion{
    text-align: center;
}

@media only screen and(min-width:768px) and (max-width:940px){
    .caja{
        width:600px;
        margin-left:54px;
    }
}

@media only screen and (min-width:400px) and (max-width:767px){
    .caja{
        width: 480px;
        margin-left: 54px;
    }
}
